doctype html
html
    head
        title ダイスゴリラ
        link(rel="icon" type="image/png" href="/images/icon/banana.png")
        link(rel='stylesheet' href='/stylesheets/style.css')
        block head
    body
        block content
